@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'), url('Gilroy-Bold.woff') format('woff');
}

body .hd h1 {
    font-family: 'Gilroy-Bold' !important;
}
header, h4 {
    font-family: 'Inter', sans-serif;
}
.hd h1{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.hd p{
    font-family: 'Inter', sans-serif;
    font-size: clamp(2rem, 5vw + 1rem, 7rem);
  text-align: center;
  line-height: 1.2;
}
.display-1 {
  font-size: clamp(2rem, 5vw + 1rem, 7rem);
  text-align: center;
  line-height: 1.2;
}
.row {
    margin-left: 1%;
}
.row {
    padding-right: none !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}
h1 {
    font-family: 'Gilroy-Bold' !important;
}
.ki {
    width: 10px !important;
    height: 100%;
    background-color: #99ff99;
    box-shadow: #99ff99 0px 0px 20px 3px;
    border-radius: 50px;
}
.ki2 {
    width: 10px !important;
    height: 100%;
    background-color: #ffffff;
    box-shadow: #ffffff 0px 0px 20px 3px;
    border-radius: 50px;
}